  <meta charset="utf-8">
  <title>{{ .title }}</title>
  <meta name="description" content="{{ .description }}">
  <link rel="canonical" href="{{ .url }}">
  <meta property="og:title" content="{{ .title }}">
  <meta property="og:description" content="{{ .description }}">
  <meta property="og:url" content="{{ .url }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ .title }}">
  <meta name="twitter:description" content="{{ .description }}">
  <meta name="twitter:url" content="{{ .url }}">
  <meta name="twitter:creator" content="@dstebunov">
  <link rel="stylesheet" href="/main.css" type="text/css">
