<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "meta.html" (dict
    "title" "Denis Stebunov – about"
    "description" "CTO at ivelum, Teamplify founder"
    "url" .Page.Permalink
  ) }}
</head>
<body>
{{ partial "nav.html" . }}
<h1>Denis Stebunov</h1>
<img alt="Denis Stebunov" src="/photo.jpeg" width="200" height="200" style="margin-bottom: 1em">
{{- with .GetPage "about" }}
  {{ .Content }}
{{ end }}
<p><br></p>
{{- with (index (where .Pages "Layout" "ne" "about") 0) }}
  <h2>The latest post <a href="/posts/">(see more...)</a></h2>
  {{- partial "post-preview.html" . }}
{{ end }}

{{ partial "footer.html" . }}
</body>
</html>
