html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: rgb(36, 36, 36);
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.003em;
  line-break: auto;
  line-height: 32px;
  margin: 48px auto;
  max-width: 680px;
  overflow-wrap: normal;
  padding: 0 20px;
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-break: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.1em;
}

article > h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

article > h2 {
  margin: -0.83em 0 0.83em;
  padding: 0.83em 0 0;
}

a {
  color: inherit;
  cursor: pointer;
}

a.anchor {
  text-decoration: none;
}

a.anchor:hover {
  text-decoration: underline;
}

a.anchor:hover:after {
  color: #c0c0c0;
  content: ' ¶';
}

p, ul, ol {
  margin: 0 0 2em;
}

li {
  margin: 0 0 1em;
}
img {
  max-width: 680px;
}

.github {
  border: 0;
  color: #fff;
  fill: #151513;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1
}

.topNavMenu {
  float: right;
  margin: 0;
  padding: 0;
}

.topNavMenu > li {
  display: inline-block;
  margin: 0 0.5em;
}

.topNavMenu > li img {
  height: 28px;
  width: 28px;
  vertical-align: middle;
}

.footer {
  float: right;
  font-size: 0.9em;
  font-style: italic;
  margin: 15px 0 40px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: rgb(219, 219, 219);
  }

  a.anchor:hover:after {
    color: rgb(110, 110, 110);
  }
}
